@font-face {
    font-family: "Helvetica";
    src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
    font-family: "Novecento";
    src: url(../fonts/NovecentoWideNormal.otf);
}

@font-face {
    font-family: "Pacifico";
    src: url(../fonts/Pacifico-Regular.ttf);
}